AW.Wcf.Testes/Service References/ProdutosServiceReference/Produtos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Produtos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3486/Produtos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3486/Produtos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3486/Produtos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AW.Repositorios.SqlServer.EF.DbFirst" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdutos_Selecionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Selecionar" />
  </wsdl:message>
  <wsdl:message name="IProdutos_Selecionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutos_SelecionarPorNome_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarPorNome" />
  </wsdl:message>
  <wsdl:message name="IProdutos_SelecionarPorNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarPorNomeResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdutos">
    <wsdl:operation name="Selecionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutos/Selecionar" message="tns:IProdutos_Selecionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutos/SelecionarResponse" message="tns:IProdutos_Selecionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarPorNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutos/SelecionarPorNome" message="tns:IProdutos_SelecionarPorNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutos/SelecionarPorNomeResponse" message="tns:IProdutos_SelecionarPorNome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdutos" type="tns:IProdutos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Selecionar">
      <soap:operation soapAction="http://tempuri.org/IProdutos/Selecionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarPorNome">
      <soap:operation soapAction="http://tempuri.org/IProdutos/SelecionarPorNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Produtos">
    <wsdl:port name="BasicHttpBinding_IProdutos" binding="tns:BasicHttpBinding_IProdutos">
      <soap:address location="http://localhost:3486/Produtos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>